@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 

}
p, span, a, li, button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}